@use './globals' as *;

.pages {
	grid-row: 1 / -1;
	grid-column: calc(var(--sidebar-span) + 1) / -1;
  padding: 2rem;
}

.page {
	animation: slideIn 250ms ease-in-out forwards;

	&__title {
		margin-top: 0.5rem;
		font-size: clamp(1.25rem, 3vw + 1rem, 1.75rem)
	}

	&__subtitle {
		@extend %uppercase;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}