@use './globals' as *;

.pages {
	grid-row: 1 / -1;
	grid-column: calc(var(--sidebar-span) + 1) / -1;
	padding: clamp(1.5rem, 3vw, 2rem);
	overflow-y: auto;

	@media (width < 1100px) {
		grid-column: 3 / -2;
	}

	@media (width < 750px) {
		grid-column: 1 / -1;
		grid-row: 1;
	}
}

.page {
	animation: slideIn 250ms ease-in-out forwards;
	margin-top: clamp(1.5rem, 3vw, 2rem);

	&__title {
		margin-top: 0.5rem;
		font-size: clamp(1.25rem, 3vw + 1rem, 1.75rem);
	}

	&__subtitle {
		@extend %uppercase;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
